* {
    background-color: #add8e6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
  }

  header a {
    text-decoration: none;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 10px 15px;
    font-size: 1.55vw;
  }

.hero {
    background-image: url(../images/hero.jpeg);
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}